.features {
  gap: 30px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}
.features__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4);
  }
}
.features__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: var(--light-bg-cl);
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__title {
  font-size: inherit;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__text {
  color: var(--secondary-txt-cl);
}
