.features {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.features__item {
  width: 100%;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.features__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: var(--light-bg-cl);
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__title {
  font-size: inherit;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__text {
  color: var(--secondary-txt-cl);
}
