.header {
  border-bottom: 1px solid var(--top-border-line-cl);

  &__container {
    display: flex;
    align-items: center;
  }
}

.contacts {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);

  display: flex;
  margin-left: auto;
}

.contacts__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
