.hero {
  background-color: var(--dark-bg-cl);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0;

  @media screen and (min-width: 1200px) {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-cl);

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);

    width: 696px;
  }
}

.page__button--hero {
  margin-top: 30px;

  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
    min-width: 216px;
  }
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: linear-gradient(
      to right,
      var(--overlay-bg-cl),
      var(--overlay-bg-cl)
    ),
    url(../../images/hero-imgs/mobile-bg-min.jpg);

  @media (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (min-device-pixel-ratio: 2) {
    background-image: url(../../images/hero-imgs/mobile-bg@2x-min.jpg);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: url(../../images/hero-imgs/tablet-bg-min.jpg);

    @media (min-resolution: 2dppx),
      (min-resolution: 192dpi),
      (min-device-pixel-ratio: 2) {
      background-image: url(../../images/hero-imgs/tablet-bg@2x-min.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../../images/hero-imgs/desktop-bg-min.jpg);

    @media (min-resolution: 2dppx),
      (min-resolution: 192dpi),
      (min-device-pixel-ratio: 2) {
      background-image: url(../../images/hero-imgs/desktop-bg@2x-min.jpg);
    }
  }
}
