.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--additional-cl);
  display: block;

  &__blue {
    color: var(--accent-txt-cl);
  }
  &__light {
    color: var(--light-txt-cl);
  }
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.footer__logo {
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: calc(28 / 24);
    text-align: center;
  }
}
