.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  background: var(--backdrop-bg-cl);

  opacity: 1;
  transition: opacity var(--animation);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2);
}

.modal {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation);

  background: var(--main-bg-cl);
  box-shadow: var(--box-shadow-tm);
  border-radius: 4px;

  padding: 40px;
  width: calc(100% - 30px);
  height: 609px;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
.modal-close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--btn-border);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: fill var(--animation);

  &:hover,
  &:focus {
    fill: var(--accent-bg-cl);
  }
}
