.portfolio-filter {
  margin-bottom: 40px;

  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    width: 326px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    gap: 8px;
  }
}

.portfolio-filter__item {
  @media screen and (max-width: 767px) {
    &:not(:nth-child(3)) {
      margin-right: 8px;
    }
    &:nth-child(-n + 3) {
      margin-bottom: 8px;
    }
    &:nth-child(n + 4) {
      margin-top: 7px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 0;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}
.portfolio-filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  background-color: var(--light-bg-cl);

  border-radius: 4px;
  padding: 6px 22px;

  transition: background-color var(--animation), color var(--animation),
    box-shadow var(--animation);

  &:hover,
  &:focus {
    color: var(--light-txt-cl);
    background-color: var(--accent-bg-cl);
    box-shadow: var(--box-shadow-btn);
  }
}
