.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project__link {
  display: block;

  &:hover,
  &:focus {
    box-shadow: var(--box-shadow-pf-hover);
  }
}

.project__tumb {
  position: relative;
  overflow: hidden;
}

.project__overlay-txt {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  padding: 63px 24px;

  position: absolute;
  top: 0;
  left: 0;
  background: var(--pf-ov-bg-cl);
  color: var(--light-txt-cl);

  transform: translateY(100%);
  transition: transform var(--animation);

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0);
  }
}

.project__group {
  padding: 20px 24px;
  border-bottom: 1px solid var(--portfolio-border-cl);
  border-left: 1px solid var(--portfolio-border-cl);
  border-right: 1px solid var(--portfolio-border-cl);
}
.project__title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project__txt {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}
