/* Форма модального вікна */
.register-form__title {
  display: block;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;
}
.register-form__group {
  margin-bottom: 20px;
}

.register-form__field {
  display: block;
  position: relative;
}
.register-form__field {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.register-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-txt-cl);
}

.register-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-border-cl);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 42px;
  outline: transparent;

  transition: border-color var(--animation);

  &:hover,
  &:focus {
    border-color: var(--accent-bg-cl);
  }
}

.register-form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;

  transition: fill var(--animation);
}
.register-form__input:hover + .register-form__icon,
.register-form__input:focus + .register-form__icon {
  fill: var(--accent-bg-cl);
}

.register-form__message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  border: 1px solid var(--input-border-cl);
  border-radius: 4px;
  padding: 12px 16px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  transition: border-color var(--animation);

  &:hover,
  &:focus {
    border-color: var(--accent-bg-cl);
  }
}

.register-form__message::placeholder {
  color: var(--placeholder-txt-cl);
}

.register-form__agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  color: var(--secondary-txt-cl);
}

.register-form__checkbox {
  appearance: none;
}

.register-form__check-icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border-radius: 2px;
  border: 2px solid var(--additional-cl);
}
.register-form__checkbox:checked + .register-form__check-icon {
  background-image: url(../images/icon-check.svg);
  border: transparent;
}

.register-form__link {
  color: var(--accent-txt-cl);
}

.register-form__btn {
  display: block;
  margin: 0 auto;
}
