.subscribe-form__wrop {
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 12px;
  }
}
.subscribe-form {
  text-align: center;
}
.subscribe-form__title {
  font-size: inherit;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt-cl);

  display: block;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
  }
}

.subscribe-form__input {
  background-color: transparent;

  height: 50px;
  border: 1px solid var(--input-ft-border-cl);
  border-radius: 4px;
  outline: transparent;

  padding-left: 16px;
  color: var(--light-txt-cl-60);

  @media screen and (max-width: 767px) {
    width: calc(100% - 2px);
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
.subscribe-form-input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: var(--light-txt-cl-60);
}
.page__button--subscribe {
  padding: 10px 28px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.subscribe-form__icon {
  fill: currentColor;
  margin-left: 10px;
}
