.section--ather_background {
  background-color: var(--light-bg-cl);
}

.team {
  display: flex;
  text-align: center;
}

.team__item {
  box-shadow: var(--box-shadow-tm);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg-cl);
}
.team__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__group {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.team__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  margin-bottom: 16px;
}
